html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#messagePageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

#messagePageContainer {
  display: flex;
  flex: 1; 
  overflow: hidden;
}

#leftSide {
  width: 30%;
  background-color: bisque;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

#chat {
  flex: 1;                /* ocupa todo el espacio disponible en su contenedor */
  overflow-y: auto;       /* activa scroll si se pasa del límite */
  max-height: 98%;       /* asegura que nunca crezca más que su contenedor */
}

#rightSide {
  width: 70%;
  height: 100%;
  background-color: #f0f0f0;
  
  
}

.tittleChat {
  font-size: 20px;
}


#messageBarContainer
{
  height: 5;
  width: 100%;
  
  margin-bottom: 0;
}

#messageChatContainer
{
  height: 95%;
  
}


#inputMessageBar
{
  width: 90%;
}

.messageByUser
{
  text-align: end;
  width: 100%;
}