#imageInput
{
    width: 50%;
    height: 100px;
    border: 2px dashed #aaa;
    border-radius: 12px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: #555;

}



#inputPetContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto; 
}

#inputPetTextContainer
{
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

#lefttSite, #rightSide {
  flex: 1; 
}


#previewImages
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#btnsContainer
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#petDescription
{
   width: 200px;
   height: 50px;
}