

#homePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#outPutAdoptionContainer {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    background-color: antiquewhite;
    border-radius: 5%;
    padding: 10px;
    justify-content: center;
}

.petPhotos {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.photosContainer {
    display: grid;
    justify-content: center;
    text-align: center;
}

.petCards {
    max-width: 200px;
}

#footerContainer {
    
    height: 90px;
    width: 100%;
}
